@charset "UTF-8";

header h1 {
  text-align: left; /* 左寄せ */
  margin-left: 20px; 
}


footer p {
  text-align: left; 
  margin-left: 20px; 
  margin-top: 80px;/
}


/* トグルボタンのスタイル */
.toggle {
  position: relative;
  width: 78px;
  height: 48px;
  margin: 40px auto;
  border-radius: 50px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}
.toggle input[type=checkbox] {
  display: none;
}
.toggle span {
  position: absolute;
  top: 18px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  transition: 0.2s ease-out;
}
.toggle span:nth-of-type(1) {
  right: 5px;
  color: #cdcdce(0, 0, 0, 0.175);
}
.toggle span:nth-of-type(2) {
  left: 7px;
  color: #fffae3; 
  letter-spacing: 2px;
}
.toggle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: block;
  background: #fcdc4a; 
  transition: 0.2s ease-out;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 33px;
  width: 42px;
  height: 42px;
  display: block;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-out;
}
.toggle.checked:before {
  background: rgba(255, 255, 255, 0.175); 
}
.toggle.checked:after {
  left: 3px;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
}

/* 背景色 */
body.black-background {
  background-color: #333; 
  color: #fff; 
}

/* その他のスタイル */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#toggle-image {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

body {
  text-align: center;
  font-family: "Noto Sans Japanese", sans-serif;
}


.star {
  position: fixed;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  background: url(https://lab.risewill.co.jp/images/web-design/mouse-stalker-img.png) 50% 50% no-repeat;
  background-size: contain;
  z-index: 2;
  animation: star 2.5s ease-out 0s forwards;
}

@keyframes star {
  0% {
    transform: translateY(0) rotate(-5deg);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(50px) rotate(5deg);
    opacity: 0;
  }
}



#loading {
  transition: all 1.5s; /*ローディングにかかる時間*/
  background-color: #FFF;
  z-index: 999;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-text {
  font-weight: bold;
  text-align: center;
}

.spin {
  width: 64px;
  height: auto;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}
